html, body, #content {
    height: 100%;
    text-align: center;
}

.view {
    text-align: center;
}

body {
    min-width: 320px;
}
.view {
    text-align: left;
}

.view-header {
    margin-bottom: 3*$padding-base-vertical;
    text-align: center;
}
