<div class="col-sm-4 col-md-4 col-lg-3">
    <div class="media">
        <div class="media-image">
            <img class="media-object" src="<%= model.get('images').poster %>" alt="">
        </div>
        <div class="media-body">
            <h4 class="media-heading"><%= model.get('title') %></h4>

            <p class="clearfix">
                <span class="pull-left"><i class="glyphicon glyphicon-star"></i> <%= model.getRating() %></span>
                <span class="pull-right"><i class="glyphicon glyphicon-time"></i> <%= model.get('duration') %></span>
            </p>

            <div class="buttons">
                <a href="#" class="btn btn-default btn-block item-play" data-file="<%= model.get('file') %>"><i
                    class="glyphicon glyphicon-play"></i> Play from the beginning</a>
                <% if(model.get('position')) { %>
                <a href="#" class="btn btn-primary btn-block item-play-continue" data-file="<%= model.get('file') %>" data-time="<%= model.get('position') %>"><i
                    class="glyphicon glyphicon-play"></i> Continue from <%= model.getPosition() %></a>
                <% } %>
            </div>
        </div>
    </div>
</div>
